target
crates/test-artifacts/programs/target/
crates/test-artifacts/programs/Cargo.lock
.idea
.vscode
*.log
bins

# Proofs
**/proof-with-pis.bin
**/proof-with-io.bin
proof-with-is-prime.bin
**/program.bin
**/stdin.bin

